@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #472183;
}



#seleccionar-mascota{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    color: lightcoral;
    font-size: 35px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}
.tarjeta-de-mostermoon {   
    width: 250px;
    height: 100px;
    background: #82C3EC;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
}

.tarjeta-de-mostermoon img {
    width: 70px;
}

#boton-mascota{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    margin-top: 30px;
    background: transparent;
    border: 2px solid white;
    color: white

}



input {
    display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #82C3EC;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: "poppins", sans-serif;

}

#Mensajes {
    width: 280px;
    background: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: #472183;
    font-family: "poppins", sans-serif;
    
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

@media (max-width: )